In [9]:
import pandas as pd
import numpy as np
import ast

Desanidar columnas:

In [10]:
# datasets
movies = pd.read_csv("..\Movies\movies_dataset.csv", low_memory=False)
credits = pd.read_csv("..\Movies\processed_credits_dataset.csv")

# Vista de los datos
print(movies.head())
print(credits.head())

<>:2: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\M'
<>:2: SyntaxWarning: invalid escape sequence '\M'
<>:3: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Admin\AppData\Local\Temp\ipykernel_18744\1353971534.py:2: SyntaxWarning: invalid escape sequence '\M'
  movies = pd.read_csv("..\Movies\movies_dataset.csv", low_memory=False)
C:\Users\Admin\AppData\Local\Temp\ipykernel_18744\1353971534.py:3: SyntaxWarning: invalid escape sequence '\M'
  credits = pd.read_csv("..\Movies\processed_credits_dataset.csv")

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]
      id                                         cast_names  \
0    862  ['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...
1   8844  ['Robin Williams', 'Jonathan Hyde', 'Kirsten D...
2  15602  ['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...
3  31357  ['Whitney Houston', 'Angela Bassett', 'Loretta...
4  11862  ['Steve Martin', 'Diane Keaton', 'Martin Short...

        director_names
0    ['John Lasseter']
1     ['Joe Johnston']
2    ['Howard Deutch']
3  ['Forest Whitaker']
4    ['Charles Shyer']

In [11]:
# Función para desanidar columnas
def desanidar_columna(df, columna, key):
    def obtener_valor(x):
        if pd.notnull(x) and x != 'nan':
            try:
                # convertir a un diccionario
                data = ast.literal_eval(x)
                if isinstance(data, dict):  # Verificar diccionario
                    return data.get(key)  # .get() para evitar KeyError
                else:
                    return None  # Retorna None si no es un diccionario
            except (ValueError, SyntaxError):
                return None  # Retorna None si hay un error en la conversión
        return None  # Retorna None si el valor es NaN o 'nan'

    df[columna] = df[columna].apply(obtener_valor)


# Desanidar columnas específicas
desanidar_columna(movies, 'belongs_to_collection', 'name')
desanidar_columna(movies, 'production_companies', 'name')
desanidar_columna(movies, 'production_countries', 'name')
desanidar_columna(movies, 'spoken_languages', 'name')

In [12]:
#Rellenar valores nulos:
movies['revenue'] = movies['revenue'].fillna(0)# revenue se rellena con 0.
movies['budget'] = movies['budget'].fillna(0)# budget se rellena con 0
movies = movies.dropna(subset=['release_date'])# elimina las filas nulas.

In [13]:
#Formato de fechas:
#Convertir al formato AAAA-mm-dd
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce') 
#extraer el año en una nueva columna release_year.
movies['release_year'] = movies['release_date'].dt.year

In [14]:
# Crear columna de retorno de inversión :
# Convertir a numérico
movies['budget'] = pd.to_numeric(movies['budget'], errors='coerce')

# calcular el retorno
movies['return'] = movies.apply(lambda x: x['revenue'] /
                                 x['budget'] if x['budget'] > 0 else 0, axis=1)

In [15]:
#Eliminar columnas innecesarias:

movies = movies.drop(columns=['video', 'imdb_id', 'adult',
                               'original_title', 'poster_path', 'homepage'])

In [16]:
#Guardar dataset:
movies.to_csv('..\Movies\processed_movies_dataset.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\M'
<>:2: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Admin\AppData\Local\Temp\ipykernel_18744\4130652931.py:2: SyntaxWarning: invalid escape sequence '\M'
  movies.to_csv('..\Movies\processed_movies_dataset.csv', index=False)